<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>AlethiA News by Wilson and Shay</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"/>
</head>
<body class="is-preload">

<!-- Header -->
<header id="header">
    <a class="logo" href="index.html">AlethiA News</a>
    <nav>
        <a href="#menu">Menu</a>
        <a href="#home">Home</a>
        <a href="#aboutus">About Us</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="elements.html">Elements</a></li>
        <li><a href="generic.html">Generic</a></li>
    </ul>
</nav>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h1>AlethiA News</h1>
        <p>A 100% credible news network that is easily accessible for all. <br /> </p>
    </div>
    <video autoplay loop muted playsinline src="images/banner.mp4"></video>
</section>

<!-- Highlights -->
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>AlethiA News</h2>
            <p>Too many news networks are producing biased news reports on events that are occurring throughout politics. This is a very dangerous issue for society as the most “credible” facts they’re provided are extremely slanted by these biased authors. Additionally, when some people realize this fact, and they try to look for unbiased facts, they struggle to find a reputable source. Instead they have to go through mental gymnastics to piece together a true story. Our solution to this problem is a non-biased news platform that can provide straight facts so that the public can be properly educated. They make up their own opinions from the relevant facts we’ve laid out.</p>
        </header>
        <div class="highlights">
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
                        <h3>New analysis of Covid Vaccine shows 95% efficiency in just over a minute</h3>
                    </header>
                    <p> In the report this morning by Pfizer, it stated that the vaccine, BNT162b2, has presented to be 95% effective regardless of age, gender, race, etc just after 28 days of the first dosage. Additionally, the vaccine has a 94% efficiency rate with adults over the age of 65. Out of the 43,000 participants that were enrolled in this vaccine testing, the only adverse event that bypassed a 2% frequency was a fatigue at just over 3% and a headache at 2%. There is more confidence spawning in this vaccine as the safety landmarks for the FDA and EUA have been reached and there is a plan for agencies to report the data worldwide. Click 'here' for more to this story...  </p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                        <h3>Vote Recount in Wisconsin to occur</h3>
                    </header>
                    <p>After the presidential election earlier this year was called to Vice President, Joe Biden, President Trump's campaign has reportedly funded $3m to the state officials of Wisconsin to pay for the costs of the recount.  </p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
                        <h3>Story #4</h3>
                    </header>
                    <p>Hey, Hey, Hey ! This is the third story.</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
                        <h3>Story #4</h3>
                    </header>
                    <p>Hey, Hey, Hey ! This is the fourth story.</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                        <h3>Story #5</h3>
                    </header>
                    <p>Hey, Hey, Hey ! This is the fifth story.</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
                        <h3>Story #6</h3>
                    </header>
                    <p>Hey, Hey, Hey ! This is the sixth story..</p>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper">
    <div class="inner">
        <h2>ABOUT US</h2>
        <p>Hi our names are Anthony Wilson and Ryan Shay. We live in San Diego, California and attend Del Norte High School. We have always been intrigued by what’s going on in the world/country and politics. The only problem is, because of modern day media, it is hard finding news networks that will consistently provide a story with all of the facts without trying to sway you one way or the other. Because of this, we proceeded to take matters into our own hands and create a news source that would provide all the facts of a story that society needs, without any bias. We present to you, AlethiA news !</p>
    </div>
</section>

<!-- Testimonials -->
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2></h2>
            <p></p>
        <div class="testimonials">
            <section>
                <div class="content">

                        <p></p>

                    <div class="author">
                        <div class="image">
                            <img src="images/pic01.jpg" alt="" />
                        </div>
                        <p class="credit">- <strong></strong> <span>.</span></p>
                    </div>
                </div>
            </section>
            <section>
                <div class="content">

                        <p>

                    <div class="author">
                        <div class="image">
                            <img src="images/pic03.jpg" alt="" />
                        </div>
                        <p class="credit">- <strong></strong> <span></span></p>
                    </div>
                </div>
            </section>
            <section>
                <div class="content">

                        <p></p>

                    <div class="author">
                        <div class="image">
                            <img src="images/pic02.jpg" alt="" />
                        </div>
                        <p class="credit">- <strong></strong> <span></span></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="content">
            <section>
                <h3></h3>
                <p> </p>
            </section>
            <section>
                <h4>Contributors</h4>
                <ul class="alt">
                    <li><a href="#">Anthony Wilson</a></li>
                    <li><a href="#">Ryan Shay </a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </section>
            <section>
                <h4>Social Media Platforms</h4>
                <ul class="plain">
                    <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                    <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                    <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                    <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                </ul>
            </section>
        </div>
        <div class="copyright">
            &copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>